.content {
    background-color: #87CEEB; /* sky blue background color */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    padding: 20px;
    width: 300px;
  }